* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
}
.background {
  background-color: black;
}
.upper {
  display: flex;
  justify-content: space-between;
}
.profile {
  border-radius: 50%;
  border: 50%;
  margin: 10px;
}
i {
  font-size: 60px;
  color: white;
}
a {
  margin-top: 50px;
}
p i {
  margin-top: 50px;
  margin-right: 10px;
}
h1 {
  color: white;
}
.for-you {
  font-size: 34px;
  margin: 50px 250px;
  color: gray;
  font-weight: 500;
  background-color: black;
  border: 0px solid black;
  cursor: pointer;
  transition-behavior: 0.3s ease-in-out;
}
.for-you:hover {
  color: #ffffff;
  border-bottom: #236c9c solid 5px;
}
.following {
  font-size: 34px;
  margin: 50px 300px;
  color: gray;
  font-weight: 500;
  background-color: black;
  border: 0px solid black;
  cursor: pointer;
  transition-behavior: 0.3s ease-in-out;
}
.following:hover {
  color: #ffffff;
  border-bottom: #236c9c solid 5px;
}
/* Default styles for all devices */
body {
  font-size: 16px;
}

/* Media query for devices with a maximum width of 600 pixels */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  /* Add more styles for smaller screens as needed */
}

/* Media query for devices with a minimum width of 601 pixels and a maximum width of 1024 pixels */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  /* Add more styles for medium-sized screens as needed */
}

/* Media query for devices with a minimum width of 1025 pixels */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
  }

  /* Add more styles for larger screens as needed */
}
